/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: auto;
		float: none;
	}
	#content {
		width: auto;
		float: none;
		margin-left: 0;
		padding: 4% 4%;
	}

	header, footer {
		padding: 4% 4%;
	}
		#innerbox1 {
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}


	#innerbox2 {
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}

	#innerbox3 {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

@media screen and (min-width: 865px) {

}
@media screen and (max-width: 1000px) {
	#nav li {
	display: block;
	}
	#header div img {
		width: 15%;
	}
	#nav a img {
		width: 8%;
	}
	}
	#header {
		border: none;
	}
	#content {
		display: block;
		width: 90%;
		margin: 0 auto;
	}
}

}
/* for 700px or less */
@media screen and (max-width: 600px) {

	#content div {
		display: block;
		width: 95%;
	}

	#content {
		display: block;
		width: auto;
		float: none;
	}
	#innerbox3 ul {
		text-align: left;
		width: 50%;
		margin: 2.5% 15%;
	}
}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#innerbox3 ul {
		text-align: left;
		width: 50%;
		margin: 2.5% 5%;
	}	
}